body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #cecece 0%, #cdcdcd 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.kartu-profil {
    background-color: white;
    width: 800px;
    display: flex;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}

.bagian-kiri {
    background-color: #f8f9fa;
    width: 35%;
    padding: 40px;
    text-align: center;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foto-bulat {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #202020;
    margin-bottom: 15px;
}

.jabatan {
    color: #777;
    font-style: italic;
}

.bagian-kanan {
    width: 65%;
    padding: 40px;
}

h1 { color: #000000; margin-top: 0; }

table { width: 100%; margin-top: 20px; }
td { padding: 8px 0; border-bottom: 1px solid #eee; }

.tombol-grup { margin-top: 30px; }
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    transition: 0.3s;
}
button:hover { transform: scale(1.05); }
.btn-hijau { background-color: #28a745; }
@media (max-width: 768px) {
    .kartu-profil { flex-direction: column; width: 90%; }
    .bagian-kiri, .bagian-kanan { width: 100%; padding: 20px; }
}